repos:
  - repo: local
    hooks:
      - id: lint
        name: lint
        entry: uv run ruff check --fix
        language: system
        pass_filenames: true
        types:
          - python
      - id: format
        name: format
        entry: uv run ruff format
        language: system
        pass_filenames: true
        types:
          - python
      - id: check-types
        name: check-types
        entry: uv run ty check
        language: system
        pass_filenames: false
        types:
          - python
