[tool.poetry]
name = "concurrent_tasks"
version = "1.0.0"
description = "Tools to run asyncio tasks concurrently."
authors = ["Gabriel Pajot <gab@les-cactus.co>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/gpajot/asyncio-concurrent-tasks"
include = ["concurrent_tasks/py.typed"]

[tool.poetry.dependencies]
python = ">=3.7,<3.12"

[tool.poetry.group.test.dependencies]
pytest = "^7"
pytest-asyncio = "^0"
pytest-mock = "^3"
flake8 = "^5"
mypy = "~0"
black = "^22"
isort = "^5"
pre-commit = "^2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"

[tool.mypy]
ignore_missing_imports = true
install_types = true
non_interactive = true

