[tool.poetry]
name = "concurrent_tasks"
version = "1.10.0"
description = "Tools to run asyncio tasks concurrently."
authors = ["Gabriel Pajot <gab@lescactus.eu>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/gpajot/asyncio-concurrent-tasks"
include = ["concurrent_tasks/py.typed"]

[tool.poetry.dependencies]
python = ">=3.9"
typing-extensions = ">=4.10"

[tool.poetry.group.test.dependencies]
pytest = "==8.3.4"
pytest-asyncio = "==0.25.2"
pytest-mock = "==3.14.0"
ruff = "==0.9.1"
mypy = "==1.14.1"
pre-commit = "==4.0.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
ignore_missing_imports = true
install_types = true
non_interactive = true
check_untyped_defs = true

[tool.pytest.ini_options]
asyncio_mode = "auto"
asyncio_default_fixture_loop_scope = "function"

[tool.ruff.lint]
select = ["A", "B", "E", "F", "I", "PT"]
ignore = ["E501"]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F401"]
